body,
html {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Questrial', sans-serif;
}

.header {
    display: block;
    position: sticky;
    align-items: center;
    background-color: #FFFFFF;
    top: 0;
    z-index: 100;
    padding-left: 10vw;
    padding-right: 10vw;
}

.title {
    display: inline-block;
    position: relative;
    text-align: center;
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
}

.title-text {
    display: block;
    font-size: 4em;
    padding-left: 10vw;
    padding-right: 10vw;
}

.header-menu {
    display: inline-block;
    position: relative;
    text-align: center;
    width: 100%;
}

.header-menu-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: inline-block;
}

.header-menu-list li {
    float: left;
    padding: 1em;
    transition: background-color .5s cubic-bezier(0.4, 0.0, 0.2, 1), color .25s cubic-bezier(0.4, 0.0, 0.2, 1);
    margin-left: 0.15em;
    margin-right: 0.15em;
}

.header-menu-list li:hover {
    background-color: #707070;
    color: #FFFFFF;
}

.header-menu-list a {
    text-decoration: none;
}

.header-menu-list li:active {
    background-color: #353535;
}

.footer {
    display: block;
    width: 100%;
    background-color: #909090;
    margin-bottom: 0;
    padding-top: .5em;
    padding-bottom: .5em;
}

.footer p {
    margin-top: .4em;
    margin-bottom: .4em;
    font-size: .9em;
    padding-left: 10vw;
    padding-right: 10vw;
    color: #FFFFFF;
}